name: Draft PDF
on: [push]

permissions:
  contents: write

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ensures all tags/history are available if needed

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: manuscript/paper.md

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: manuscript/paper.pdf
